<div class="support">
    <div class="help-1">
        <span> Ask for a support</span>
    </div>
    <div class="help-2">
        <span>Can't find what you are looking for? </span>
    </div>
    <div class="mail">
        <button class="button-1">
            <a href="" class="email-us">Email us</a>
        </button>
        <button class="button-2">
            <img class="chat-support" src="../../assets/part-1/image 4.png"/>
            <a href="" class="chat-support">Chat support </a>
            
        </button>
    </div>
</div>