<div class="main">
    <section class="part-1">
        <div class="content-1">
            <img src="../../assets/part-1/Vector.png" alt="What's new"/><br/>
            <p>What's new</p>
        </div>
        <div class="content-1">
            <img src="../../assets/part-1/Vector (1).png" alt="User Guide"/><br/>
            <p>User Guide </p>
        </div>
        <div class="content-1">
            <img src="../../assets/part-1/Vector (2).png" alt="Training videos"/><br>
            <p>Training videos</p>
        </div>
        <div class="content-1">
            <img src="../../assets/part-1/Vector (3).png" alt="FAQs"/><br>
            <p>FAQs</p>
        </div>
    </section>
    <p class="choose-category">Chose a category you need help with</p>
    <section class="part-2">
        
        <div class="content">
            <img src="../../assets/part-1/Vector (4).png" alt="Getting started"/><br>
            <p>Getting started</p>
        </div>
        <div class="content">
            <img src="../../assets/part-1/Vector (5).png" alt="Brand portal"/><br>
            <p>Brand portal</p>
        </div>
        <div class="content">
            <img src="../../assets/part-1/Vector (6).png" alt="Brand portal"/><br>
            <p>Brand portal</p>
        </div>
        <div class="content">
            <img src="../../assets/part-1/Vector (7).png" alt="Brand portal"/><br>
            <p>Brand portal</p>
        </div>
        <div class="content">
            <img src="../../assets/part-1/Vector (8).png" alt="Brand portal"/><br>
            <p>Brand portal</p>
        </div>
        <div class="content">
            <img src="../../assets/part-1/Vector (9).png" alt="Brand portal"/><br>
            <p>Brand portal</p>
        </div>
        <div class="content">
            <img src="../../assets/part-1/Vector (10).png" alt="Brand portal"/><br>
            <p>Brand portal</p>
        </div>
        <div class="content">
            <img src="../../assets/part-1/Vector (11).png" alt="Brand portal"/><br>
            <p>Brand portal</p>
        </div>
        <div class="content">
            <img src="../../assets/part-1/Vector (12).png" alt="Brand portal"/><br>
            <p>Brand portal</p>
        </div>
    </section>
    <p class="popular-questions">Popular questions</p>
    <section class="part-3">
        <div class="content-3">
            <span>How to have 100% profile completeness?</span>
            <img src="../../assets/part-1/Vector (14).png"/>
        </div>
        <div class="content-3">
            <span>Whats are the latest released features?</span>
            <img src="../../assets/part-1/Vector (14).png"/>

        </div>
        <div class="content-3">
            <span>How to change language on the platform?</span>
            <img src="../../assets/part-1/Vector (14).png"/>
        </div>
        <div class="content-3">
            <span>How to create a facility?</span>
            <img src="../../assets/part-1/Vector (14).png"/>
        </div>
    </section>
    
</div>